<!DOCTYPE html>
<html>
<head>
	<title>Vue Sorting Hat</title>

	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,700" rel="stylesheet">
</head>
<body>

	<div id="main" v-cloak>

		<div class="instructions">
			<h1>Welcome to Hogwarts!</h1>
				<p>
						Before you take your seats in the Great Hall, you will be sorted into your houses.  While you are here, your house will be like your family.<br><br>

						Each house has its own noble history and each has produced outstanding witches and wizards.  When you are ready, click on the Sorting Hat and it will put you into your new house.  Good luck to all.
					</p>

					<button class="colorDark">
						<p class="buttonLabel" v-on:click="resetHouse">RESET HOUSE</p>
					</button>

		</div>

		<div class="sortingSection">

			<img class="hat" src="./images/sorting-hat.png" v-on:click="delayedSort()">

			<div class="intro" v-if="clicks === 0">
				<p>Click the Sorting Hat to find out your new Hogwarts house!</p>
				<img src="./images/hogwarts.png" height="100">
			</div>

			<div v-if="clicks > 0 && index === ''">
				<p>Difficult... very difficult...</p>
			</div>

			<div class="results" v-if="index !== ''">
				<p is="sortingHatMessage"
					v-bind:name="Houses[index].name"
					v-bind:image="Houses[index].image"
					v-bind:description="Houses[index].description">
				</p>
			</div>
			
		</div>

	</div>

	<script src="https://unpkg.com/vue"></script>
	<script src="main.js"></script>

</body>
</html>